In [7]:
import os
from os.path import join as opj
from glob import glob as glob
import pandas as pd

In [67]:
mask_dir = "/Users/andrebeukers/Documents/fMRI/RVstudy/visser_replicate/BIDSdataset/masks/FFA"
minfo_paths = glob(opj(mask_dir,"sub-???_?Maskinfo.txt"))
peakvox_path = "/Users/andrebeukers/Documents/fMRI/RVstudy/visser_replicate/FFA_peakvox.csv"

# Peak vox

In [73]:
pd.read_csv(peakvox_path)

    sub         Rx         Ry    Rz    Lx    Ly  Lz
0     7 -34.500000  51.500000 -18.0  40.0  54.0 -15
1     9 -43.500000  54.500000 -27.0  46.5  57.5 -24
2    12 -43.500000  54.500000 -24.0  43.5  69.5 -18
3    14 -43.500000  51.500000 -18.0  43.5  57.0 -18
4    15 -43.500000  54.500000 -24.0  40.5  54.5 -18
5    16 -37.500000  69.500000 -18.0  37.5  75.5 -12
6    17 -43.500000  54.500000 -21.0  43.5  54.5 -15
7    18 -40.500000  57.500000 -18.0  37.5  69.5 -12
8    21 -40.500000  60.600000 -21.0  40.5  51.5 -24
9    24 -43.500000  51.500000 -21.0  40.5  57.5 -21
10   25 -40.500000  54.500000 -21.0  46.6  57.5 -21
11   26 -40.500000  51.500000 -18.0  43.5  66.5 -18
12   27 -37.500000  51.500000 -21.0  40.5  51.5 -18
13   28 -40.000000  54.500000 -24.0  40.5  54.5 -21
14   29 -37.500000  63.500000 -24.0  40.5  60.5 -21
15   30 -40.472222  55.672222 -20.5  34.5  69.5 -18
16   32 -37.500000  48.500000 -15.0  37.5  63.5 -18
17   33 -40.500000  54.500000 -21.0  40.5  48.5 -18
18  359 -40.500000  63.500000 -15.0  37.5  69.5 -18

# No of surviving vox

In [107]:
D = dict()

for minfo_path in minfo_paths:
    sub = minfo_path.split('/')[-1].split('_')[0]
    minfo = pd.read_table(minfo_path)
    idx = minfo.loc[2].str.find('clipped')
    sub_info = minfo.loc[2][0][idx[0]+8:]
    D[sub] = sub_info 

df = pd.DataFrame.from_dict(D, orient='index')
n_vox = df[0].str.split().str.get(0).astype(int)

df['^mm3'] = n_vox*27
df

                                      0  ^mm3
sub-016   25 survived, 140573 were zero   675
sub-028    7 survived, 140451 were zero   189
sub-014   54 survived, 128019 were zero  1458
sub-026   33 survived, 138091 were zero   891
sub-359   14 survived, 140832 were zero   378
sub-009   60 survived, 136435 were zero  1620
sub-027   22 survived, 139540 were zero   594
sub-018   26 survived, 140865 were zero   702
sub-015   25 survived, 138083 were zero   675
sub-017    8 survived, 140968 were zero   216
sub-012   30 survived, 140521 were zero   810
sub-030    0 survived, 140945 were zero     0
sub-033   47 survived, 140630 were zero  1269
sub-029   27 survived, 140553 were zero   729
sub-032   38 survived, 140484 were zero  1026
sub-007   12 survived, 140954 were zero   324
sub-021   33 survived, 140677 were zero   891
sub-025   19 survived, 140951 were zero   513
sub-024   10 survived, 139871 were zero   270